/* DatasetPage.css */

/* General page style */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.table{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}

h2 {
    color: #2e9748;
}

button {
    background-color:#2e9748;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e4c33;
}

table {
    width: 700px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #cecece;
}

th {
    background-color: #2e9748;
    color: #fff;
}

td button {
    background-color: #e14747;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

td button:hover {
    background-color: #cc5252;
}

/* Modal Styles */
/* .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
    color: #2c6e49;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-content button {
    width: 48%;
    margin: 5px;
}
